*{
    box-sizing: border-box;
    font-family: 'Baloo Bhaijaan 2', cursive;
    scroll-behavior: smooth;
}

body{
    background-image: linear-gradient(-135deg, rgb(45,45,45), rgb(21, 29, 33));
    margin: auto;
}

a{
    text-decoration: none;
    color:#FEB868;
}

.clear{
    clear: both;
}

/*Logo CSS*/
 .logo{
     color:#FEB868;
     font-size: 40px;
     display: inline-block;
     margin-left: 30px;
 }

 .firstname{
     display:inline-block;
     width:21px;
     overflow:hidden;
     transition: 500ms width ease-in-out;
 }

 .lastname{
    display:inline-block;
    width:21px;
    overflow:hidden;
    transition: 500ms width ease-in-out;

 }

 .logo:hover .firstname{
    width:150px;
 }

 .logo:hover .lastname{
     width:234px;
 }
 /*Logo CSS*/



 /*Head-Links CSS*/

 .head-links{
    float:right;
    
 }

 .head-links li{
    float:left;
    margin-right:50px;
    font-size:20px;
    color:white;
 }

 .head-link:hover{
     color:white;
     border-bottom:3px solid #FEB868;
 }

 /*Head-Links CSS*/

 
 
 /*Intro*/

.intro-section{
    margin-top:40px;
    margin-bottom: 150px;
}

 .myImage{
     float:left;
     width:40%;
 }

 .image-container{
     max-width:60%;
     margin: 10px auto;
 }

 .image-container img{
     height: 300px;
     border-radius: 50px;
     box-shadow: 2px 2px 2px 0 rgba(255, 255, 255, 0.5),
                -2px -2px 2px 0 rgba(255, 255, 255, 0.5);
 }

 .aboutMe{
     float:left;
     width:60%;
 }

 .description{
     margin:80px auto 0 auto;
     max-width:80%;
     color:white;
 }

 .description p{
     font-size:30px;
     line-height:10px;
 }

 .name{
     color:#FEB868;
 }

 .description a{
     color:#DC8572;
     padding:2px 5px;
     border:1px solid #DC8572;
 }

 .description a:hover{
     color:white; 
     border:1px solid white;
 }

 /*Intro*/


 
 /*About Section CSS*/

.about-section{
    background-color:#A9CEC2;
    color:#000000;
    padding-block: 50px;
    margin-bottom: 30px;
}

.about-section h2{
    text-align:center;
    color:#635787;
    text-decoration: underline;
}

/*Introduction*/
.introduction{
    float:left;
    width:70%;
}

.intro-wrapper{
    max-width:60%;
    margin:0 auto;
}

.intro-wrapper p{
    text-align:center;
}

.into-wrapper dd{
    color:#1C6E7D;
}

/*Introduction*/



/*Skills*/
.skills{
    float:left;
    width:30%;
    text-align:center;
}

.skillImage{
    width:33.33%;
    float:left;
}

.skillImage img{
    width:50px;
    height:50px;
}

.skillImage p {
    font-size:18px;
}

/*Skills*/

.quote{
    max-width:60%;
    margin: 100px auto 0 auto;
    text-align:center;
    font-size: 30px;
    line-height:10px;
}

 /*About Section CSS*/



 /*Contact Section CSS*/

 .contact-section{
     background-color:#598CAC;
     text-align:center;
     padding-block:30px;
 }

 .contact-section h1{
    text-align:center;
    font-size: 32px;
 }

 .contact-wrapper{
     max-width:80%;
     margin: 0 auto;
 }

 .social-links{
     margin-block: 50px;
 }

 .social-links i{
    font-size: 35px;
    margin-right: 15px;
 }

 .facebook{
     color:black;
 }

 .facebook:hover{
     color:#166FE5;
 }

 .instagram{
    color:black;
}

 .instagram:hover{
     color:#B337A2;
 }

 .linkedin{
     color:black;
 }

 .linkedin:hover{
     color:#0A66C2;
 }

 .github{
    color:black;
 }

 .github:hover{
    color:white;
 }
 /*Contact Section CSS*/


/*Footer CSS*/

footer a:hover{
    color:white;
}